{% load static %}
<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet/less" href="{% static 'less/style.less' %}"/>


<nav "navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" class="navbar-header" style="font-family:impact;color:white">
		<img src="{% static "img/w.png" %}" alt="My image" style="height=40px;width:100px;"/>      
  
            </div>
			    <ul class="nav navbar-nav navbar-right" style="font-size:20px; word-spacing: 10px;">
                <li><a href="/registration/home/"><font color="Midnightblue">Home  </font></a></li>
                <li><a href="/patientrecord/"><font color="Midnightblue">Patient Record</font></a></li>
                </ul>
        </div>
    </nav>		

</head>

<div class="wrapper">
       <div class="container">
  
 {% block content %}
            {% endblock %}

  
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

</body>
</html>







