{% extends 'base.html' %}
{% block content %}

<form id="msform">
  <ul id="progressbar">
    <li class="active">Mobile Registration</li>
    <li>Personal Details</li>
  </ul>
  <fieldset>
    <h2 class="fs-title">Mobile Registration</h2>
    <h3 class="fs-subtitle">Confirm your mobile number using otp</h3>
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" id="mobile_number" name="mobile_number" placeholder="1111-111-111" required>
    <input type="button" name="generate" class="next action-button" value="generate" />
    <button class="btn" type="button" onClick="send_pin()"><i class="icon-share"></i> Get PIN</button>

  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">Personal Details are private</h3>
    <input type="text" name="gender" placeholder="Gender" />
    <input type="text" name="age" placeholder="Age" />
    <textarea name="address" placeholder="Address"></textarea>
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>

{% endblock %}

