{% extends 'base.html' %}
{% block content %}

    <div class="container">
    	<h1>One step away</h1>
		  <h2>to book an appointment</h2>               
		  
		  <form method="POST" action="signin">
        {% csrf_token %}
			  <input type="text" placeholder="Username" name="username" value = "{{form.username}}" required="">
			  <input type="password" placeholder="Password" name="password" value = "{{form.password}}" required="">
			  <button type="submit" value="Sign In" > Sign In</button>
  		</form>
      <p>-{{loginmessage}}-</p>
    </div>
{% endblock %}
   


