{% extends 'base.html' %}
{% block content %}


<div class="container">
	<br><br>
	<h2>Welcome!</h2>
  
		<form method="post" action="/home/newappt" >
			{% csrf_token %}
			<button type="submit" value = "Make Appointment">Make Appointment</button>
		</form> 

        <form method="post" action="registration" >
			{% csrf_token %}
			<button type="submit" value = "View Appointment">View Appointment</button>
		</form> 
		<form method="post" action="/signin" >
			{% csrf_token %}
			<button type="submit" value = "Logout">Logout</button>
		</form> 


</div>

{% endblock %}
